<div class="container">
<div class="text-center"><h2>My Task List</h2></div>

<table class="table">
       <thead>
        <tr>
            <th>ID</th>
            <th>Task List</th>
            <th>Target Date</th>
            <th>Is Done</th>
            <th>  Action  </th>
           
          </tr>
   </thead>
   <tbody>
      <tr *ngFor="let list of taskListObject">
          <td>{{list.id}}</td>
          <td>{{list.assignTask | uppercase}}</td>
          <td>{{list.targetDate | date}}</td>
          <td>{{list.isDone}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="submitForm()">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteData(list.id)">Delete</button>
          </td>
         
        </tr>
   </tbody>
</table>
</div>
