<div class="container">
    <form  action="misReport">
      
        <div class="panel-heading text-center">
          <h3>Angular 7</h3>
        </div><br>
        <div class="text-right">  
          <Strong class="alert alert-danger" *ngIf='invalidLogin'>Invalid Login Credentials</Strong>
        </div>
     <div class="panel-body">

      
        <div class="row">
            <div class="col text-center col-md-4">
                        <div class="form-group">
                          <label>User ID:  </label>
                          <input name="username" id="username" type="text" [(ngModel)]="username" class="form-control">
                        </div>
                      </div>
                      </div><br>
               
                <div class="row">
                    <div class="col text-center col-md-4">
                        <div class="form-group">
                          <label>Password:  </label>
                          <input name="password" id="password" type="text" [(ngModel)]="password" class="form-control">
                        </div>
                      </div>
                </div>  <br>

                

                <div class="row">
                  <div class="col text-center">
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-primary" (click)="submitForm()">Submit</button>
                    </div>
                  </div>
                </div>
        </div>
  
    </form>
</div>

   
  


 