<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.google.com" class="navbar-brand">
            Google</a></div>

        <ul class="navbar-nav">
            <li><a  *ngIf="this.hardcodeAuthService.isLoggedIn()" routerLink="/welcome/name" class="nav-link">Welcome Page</a></li>
            <li><a  *ngIf="this.hardcodeAuthService.isLoggedIn()" routerLink="/task" class="nav-link">Task List</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="this.hardcodeAuthService.isLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a  routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>