<div class="container">
<div class="text center">
  <strong>You have been successfully Logged out</strong>
  </div>
  <div class="row">
      <div class="col text-center">
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary" (click)="loginForm()">Click Here To login</button>
        </div>
      </div>
    </div>


</div>