<div class="container"><br>
  <div class="panel-body"><br>
    <h2>{{username}}</h2><br><br>
  
  <div class="form-group row">

        <div class="col-md-3">
          <div class="form-group">
            <strong>User Name</strong>
            <input [(ngModel)]="todoListForm.username" type="text" placeholder="User Name" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <strong>Assign Task</strong>
              <input [(ngModel)]="todoListForm.assignTask" type="text" placeholder="Assign Task" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <strong>Is Done</strong>
                <input [(ngModel)]="todoListForm.isDone" type="text" placeholder="Is Done" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <strong>Target Date</strong>
                  <input [ngModel]="todoListForm.targetDate | date:'yyyy-MM-dd' "   type="date" placeholder="Target Date" class="form-control">
                </div>
              </div>
    </div>
 
        <div class="form-group row">
          <div class="col text-center">
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="submitForm()">Submit Data</button>
              <button type="button" class="btn btn-success" (click)="getListObject()">Spring Boot</button>
            </div>
          </div>
        
        </div>
  </div>
         <div>Register Yourself<a routerLink="/register"> click here </a> </div>
</div>
  


  