<div class="container">
  <div class="panel-body"><br><br><br>

<div class="form-group row">
      <div class="col-md-4">
        <div class="form-group">
          <strong>User Name</strong>
          <input [(ngModel)]="registerationForm.username" type="text" placeholder="User Name" class="form-control">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <strong>Password</strong>
          <input [(ngModel)]="registerationForm.password" type="text" placeholder="Password" class="form-control">
        </div>
      </div>
  </div>


<div class="form-group row">
  <div class="col-md-4">
    <div class="form-group">
      <strong>Name</strong>
      <input [(ngModel)]="registerationForm.name" type="text" placeholder="Name" class="form-control">
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <strong>Age</strong>
      <input [(ngModel)]="registerationForm.age" type="text" placeholder="Age" class="form-control">
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <strong>City</strong>
      <input [(ngModel)]="registerationForm.city" type="text" placeholder="City" class="form-control">
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col text-center">
    <div class="form-group">
      <button type="button" class="btn btn-outline-primary" (click)="submitForm()">Submit</button>
    </div>
  </div>

</div>
</div>
</div>
{{registerationForm|json}}