
<!-- <app-welcome></app-welcome> -->
<!-- <app-login></app-login> -->
<!-- <div>{{msg}}</div><br> -->
<app-menu></app-menu>
<div class="container">
        <router-outlet></router-outlet><br>
</div>
<app-footer></app-footer>

